@import './base.css';

body {
    background-color: #f2f2f2;
    user-select:none;
}

/* 替换默认滚动条样式 */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #f2f2f2;
}
::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8a8a8;
}
